<div class="container-fluid">
  <div class="row nav-row">
    <a class="btn" href="http://173.253.201.228:5000/download/sample.json"><i class="fa fa-download"></i> Download JSON</a>
  </div>
  <br>
  <div class="row nav-row">
    <a class="btn" href="http://173.253.201.228:5000/download/sample.csv"><i class="fa fa-download"></i> Download
      CSV</a>
  </div>
  <br>
  <div class="row nav-row">
    <a class="btn" href="http://173.253.201.228:5000/download/sample.tsv"><i class="fa fa-download"></i> Download Tab
      delimited</a>
  </div>
  <br>
  <div class="row nav-row">
    <a class="btn" href="http://173.253.201.228:5000/download/sample.bro"><i class="fa fa-download"></i> Download
      Bro</a>
  </div>
  <br>
  <div class="row nav-row">
    <a class="btn" href="http://173.253.201.228:5000/download/sample.snort"><i class="fa fa-download"></i> Download
      Snort</a>
  </div>
</div>


