<form class="text-center form-signin" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <img class="mb-4" src="assets/img/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Password Change</h1>
  <div class="form-group">
    <label for="oldPassword" class="sr-only">Old Password</label>
    <input type="text" id="oldPassword" class="form-control" formControlName="oldPassword" placeholder="Old Password" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" autofocus>
    <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
      <div *ngIf="f.oldPassword.errors.required">Old password is required</div>
      <div *ngIf="f.oldPassword.errors?.minlength">
        Password must be at least 6 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword" class="sr-only">New Password</label>
    <input type="password" id="newPassword" class="form-control" formControlName="newPassword" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" autofocus>
    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
      <div *ngIf="f.newPassword.errors.required">New password is required</div>
      <div *ngIf="f.newPassword.errors?.minlength" >
        Password must be at least 6 characters long.
      </div>
    </div>


  </div>
  <div class="form-group">
    <label for="confirmPassword" class="sr-only">Password</label>
    <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Retype New Password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">Retype New password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary btn-block" type="submit">Change</button>
  </div>
  <div class="alert alert-danger" *ngIf="submitted && changePasswordForm.hasError('notSame')">
    Password do not match
  </div>
  <div class="alert alert-success" role="alert" *ngIf = "submitted && showMessage && isSaveSuccess">
    <strong>Successful!</strong> {{message}}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf = "submitted && showMessage && !isSaveSuccess">
    <strong>Error!</strong> {{message}}
  </div>
</form>
