<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <h3>It's Nice to Meet You!</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="https://psu.instructure.com/images/thumbnails/83037978/mBDdr4jZuW9ShqV4JJx3ASJLNKr982jeRBtz4fNG" alt="">
      <h3>Darrell Miller
        <small>Scrum Master</small>
      </h3>
      <a href><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href><i class="fa fa-facebook-square fa-2x"></i></a>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="https://psu.instructure.com/files/80635404/download?download_frd=1&amp;verifier=vGUwpnJt4fkXeAn4crU8uIy3kmmqs5MvQxBL4vJc" alt="">
      <h3>Douglas Peck
        <small>Back-End Developer</small>
      </h3>
      <a href><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href><i class="fa fa-facebook-square fa-2x"></i></a>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="https://psu.instructure.com/images/thumbnails/80637701/AZzP5sV3rChkqB85WrUfjr9zmhfdmHvggRn4Belj" alt="">
      <h3>Raymond Schmalzl
        <small>Front-End Developer</small>
      </h3>
      <a href><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href><i class="fa fa-facebook-square fa-2x"></i></a>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src="https://psu.instructure.com/images/thumbnails/96083300/KTg5ai4uaBSvuVSJp0hdb43thFOG1YkH04ysvs3I" alt="">
      <h3>Trung Nguyen
        <small>Front-End Developer</small>
      </h3>
      <a href><i class="fa fa-linkedin-square fa-2x"></i></a>
      <a href><i class="fa fa-facebook-square fa-2x"></i></a>
    </div>
  </div>

</div>
<!-- /.container -->
