img {
  width: 128px;
  height: 128px;
}

.fa-linkedin-square {
  color: #0E76A8;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-facebook-square {
  color: #4267b2;
  padding-left: 5px;
  padding-right: 5px;
}
