<div class="col-md-8 offset-md-2">
    <!-- form user info -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Configuration</h3>
        </div>
        <div class="card-body">
            <form *ngIf="configObservable | async; else loading" [formGroup]="configForm" class="form" role="form" autocomplete="off">
                <div class="form-group row">
                    <label class="col-lg-3 col-md-4 col-sm-4 col-form-label form-control-label">Feed source: </label>
                    <div class="col-lg-9 col-md-8 col-sm-8" formArrayName="feedSources">
                        <div *ngFor="let source of getFeedSourcesFormData().controls; let i=index">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id={{config.feedSources[i].name}} [checked] = "config.feedSources[i].selected" (change)="config.feedSources[i].selected = !config.feedSources[i].selected">
                            <label class="form-check-label" for={{config.feedSources[i].name}}>
                              {{config.feedSources[i].name}}
                            </label>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-4 col-sm-4 col-form-label form-control-label">How often: </label>
                    <div class="col-lg-9 col-md-8 col-sm-8">
                        <select class="form-control" formArrayName="time" (change)="changeTime($event.target.value)">
                            <option *ngFor="let time of getTimeFormData().controls; let i=index" [value]="timeList[i].value" [selected]="timeList[i].value == config.time">{{timeList[i].name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-4 col-sm-4 col-form-label form-control-label">Export format: </label>
                    <div class="col-lg-9 col-md-8 col-sm-8" formArrayName="exportFormat">
                      <div *ngFor="let type of getExportFormatFormData().controls; let i=index">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id={{config.exportFormat[i].name}} value="CVS"  [checked]="config.exportFormat[i].selected" (change)="config.exportFormat[i].selected = !config.exportFormat[i].selected">
                          <label class="form-check-label" for={{config.exportFormat[i].name}}>
                            {{config.exportFormat[i].name}}
                          </label>
                        </div>
                      </div>
                    </div>                    
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-4 col-sm-4 col-form-label form-control-label"></label>
                    <div class="col-lg-9 col-md-8 col-sm-8">
                        <button type="submit" (click)="saveConfig()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
            <ng-template #loading>
              Loading Config...
            </ng-template>
        </div>
    </div>
    <!-- /form user info -->

</div>
